run = "python3 app.py"
entrypoint = "app.py"

# Audio
enableAudio = false

# Packager configuration
[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

# Languages
[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = ["pylsp"] 